<div class="ui attached segment" id="employee-information">
    <div id="employee-id">
        <i class="barcode icon"></i> {{ customer.employeeid }}
    </div>
    <div id="employee-position">
        <i class="address card icon"></i> {{ customer.position }}
    </div>
    <div id="employee-office">
        <i class="map marker alternate icon"></i> {{ customer.office }}
    </div>
    <div id="employee-company">
        <i class="building icon"></i> {{ customer.company }}
    </div>
</div>
